<% if user_signed_in? %>
	<div class="row">
	  <div class="col-md-12 home-show">
	  	<div class="row">
			  <div class="col-md-8">
			  	<h5>你是格斗爱好者吗？ FightTechnologyGroup秀出你的格斗技术</h5>
			  </div>
			  <div class="col-md-4">
			  	<%= link_to (fa_icon "camera-retro", text: "Show here..."), new_fightpost_path, class: "btn btn-sm btn-info" %>
			  </div>
			</div>
		</div>
	</div>
	<div class="row">
	  <div class="col-md-12 tags">
		  <% tag_cloud Fightpost.tag_counts, %w[s m l] do |tag, css_class| %>
				<%= link_to tag.name, tag_path(tag.name), class: css_class %>
			<% end %>
		</div>
	</div>

	<div class="row">
	  <div class="col-md-12">
		  <%= render 'shared/feed' %>
		</div>
	</div>

<% else %>
	<%= render 'welcome' %>
<% end %>

