<div class="row common-header">
  <div class="col-md-12">
  	<ul class="list-inline">
		  <li>
		  	<div class="sort-box active">
			  	推荐
			  </div>
		  </li>
		  <li>
		  	<div class="sort-box">
			  	关注
			  </div>
		  </li>
		</ul>
  </div>
</div>
<div class="row home">
	<%= render 'shared/feed' %>
</div>


<%#= link_to (fa_icon "download", text: "下载App"), new_fightpost_path, class: "btn btn-sm btn-info" %>
<%# tag_cloud Fightpost.tag_counts, %w[s m l] do |tag, css_class| %>
	<%#= link_to tag.name, tag_path(tag.name), class: css_class %>
<%# end %>







