<% provide(:title, "edit profile") %>

<div class="row common-header">
  <div class="col-xs-1">
     <%= link_to (fa_icon "angle-left"), '#', class: "fa-2x" %>
  </div>
  <div class="col-xs-10">
  	<p>edit profile</p>
  </div>
</div>

<div class="row profile-form">
  <div class="col-md-12">
		<%= render 'form' %>
	</div>
</div>