<% provide(:title, "Profile") %>

<div class="row">
  <div class="col-md-8">
  		<p>这个页面Routes是否可以优化，URL</p>
      <h1>
      	<% unless @profile.nil? %>
      		<%= @profile.avatar ? image_tag(@profile.avatar, size: "80", class: "gravatar") : image_tag("user.jpg", size: "80", class: "gravatar") %>
        	<%= !@profile.nil? ? @profile.fullname : 'No name' %>
      	<% else %>
      		<%= image_tag("user.jpg", size: "80", class: "gravatar") %>
      		<%= "No name" %>
      	<% end %>
        
      </h1>
  </div>
</div>