<% provide(:title, "Edit Provide") %>

<div class="row common-header">
  <div class="col-md-12">
  	<a href="#">
      <%= link_to (fa_icon "angle-left"), '#', class: "fa-2x" %>
  	</a>
  	<p class="text-center">edit profile</p>
  </div>
</div>

<div class="row profile-form">
  <div class="col-md-12">
		<%= render 'form' %>
	</div>
</div>