<% if user_signed_in? %>
	<%= form_for [@fightpost, @fightpost.comments.build], layout: :inline do |f| %>
	  <%= f.text_field :content, size: 50 -%>
	  <%= f.submit %>
	<% end %>
<% else %>
	<p>登录后评论</p>
<% end %>