<div id="like_form_<%= fightpost.id -%>">
	<% if current_user.likers.find_by(fightpost: fightpost)  %>
		<%= render partial: 'likers/unliker', locals: { fightpost: fightpost } -%>
	<% else %>
		<%= render partial: 'likers/liker', locals: { fightpost: fightpost } -%>
	<% end %>
</div>