<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <h1>
					<%= link_to image_tag("user.jpg", size: "60", alt: "user gravatar", class: "gravatar"),
					                      'http://rubyonrails.org/' %>
				  <%= @user.name %>
				</h1>
      </h1>
    </section>
  </aside>
</div>
