/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "jasny-bootstrap.min";
@import "font-awesome";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

$white: #FFFFFF;
$ftg-red: #FF0033;
$glay: #888888;
$gray-lighter: #eee;

/* miscellaneous */

.debug_dump {
  margin-left: 20px;
  clear: both;
  float: left;
  width: 280px;
  margin-top: 45px;
  @include box_sizing;
}

html, body {
  height: 100%;
}
body {
  padding: 50px 0 0 0;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.navmenu {
  padding-top: 15px;
}

.navmenu, .navbar-offcanvas {
    width: 240px;
}

.navbar {
  display: block;
  text-align: center;
}
.navbar-brand {
  display: inline-block;
  float: none;
}
.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.container {
  max-width: 100%;
}

.navmenu-fixed-left, .navmenu-fixed-right, .navbar-offcanvas {
  z-index: 9999;
}

.navmenu-default, .navbar-default .navbar-offcanvas {
  background-color: #FFFFFF;
  border-color: #EEEEEE;
}

.navmenu-nav {
  i {
    margin-right: 10px;
  }
}

@media (min-width: 100px) {
  .navbar-toggle {
    display: block !important;
  }
}

@media (min-width: 992px) {
  body {
    padding: 0 0 0 300px;
  }
  .navmenu {
    padding-top: 0;
  }
  .navbar {
    display: none !important; /* IE8 fix */
  }
}

.ftglogo {
  margin-left: 15px;
}

.common-header {
  height: 42px;
  background-color: $ftg-red;
  width: 100%;
  .col-md-12 {
    text-align: center;
  }
  .col-xs-1 {
    i {
      margin-top: 6px;
      color: $white;
    }
  }
  .col-xs-10 {
    text-align: center;
    p {
      margin-top: 10px;
      color: $white;
    }
    .active {
      background-color: #FF6666;
      color: $white;
    }
  }
}

.sort-box {
  background-color: $white;
  border:1px solid #CC0033;
  width: 100px;
  height: 26px;
  margin-top: 8px;
  padding-top: 2px;
  color: #CC6666;
}

a {
  color: #000000;
  text-decoration: none;
  &:active { 
    color: #000000;
    text-decoration: none;
  }
  &:hover {
    color: $ftg-red;
    text-decoration: none;
  }
}


/* Home Page */
.home {
  margin-top: 15px;
}

.home-content {
  border-bottom:1px solid #EEEEEE;
  margin-bottom: 15px;
}

.home-avatar {
  img {
    margin-left: -12px;
  }
}

.home-social {
  margin-top: -10px;
}

/* User Show */

.user-show {
  background-color: #FF0033;
  color: #FFFFFF;
}

.user-show-head {
  .left i {
    margin-left: 15px;
    margin-top: 15px;
  }
  .center h5 {
    margin-top: 15px;
  }
  .right i {
    margin-right: 15px;
    margin-top: 15px;
  }
}

.avatar {
  margin-top: 10px;
  border-style: solid; border-width: 2px; border-color: #FFFFFF;
}

.user-show-content {
  margin-bottom: 20px;
}

.user-show-video {
  background-color: #000000;
  max-width: 100%;
  margin-left: 0px;
  .col-xs-4{
      padding: 1px;
      max-width: 100%;
    img {
      width: 100%;
    }
  }
}

.list-inline>li {
  padding-right: 10px;
  padding-left: 10px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  text-align: center;
  a {
    float: left;
    padding: 0 10px;
    color: $white;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $white;
    }
  }
  strong {
    display: block;
  }
}

/* following */

.common-list {
  .avatar {
    margin-top: 0px;
    margin-left: 8px;
    border-style: none;
    border-width: 0px;
  }
  .username {
    min-width: 180px;
  }
  .btn {
    margin-top: 4px;
  }
  p {
    margin: 0 0 0px;
  }
  small {
    color: #888888;
  }
}

/* profile */

.profile-avatar {
  margin-top: 15px;
}

.profile-form {
  label {
    font-size: 10px;
    color: $glay;
  }
}

/* discover */

.search {
  margin-top: 6px;
}

.topic {
  background-color: $gray-lighter;
  padding-top: 8px;
  padding-bottom: 8px;
  .trending-tags {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 2px;
  }
}

.topic-box {
  height: 80px;
  background-color: $white;
  border: 1px solid $gray-lighter;
  text-align: center;
  .fa {
    margin-top: 14px;
  }
  p {
    margin-top: 4px;
  }
}

.tag-list {
  color: $white;
}

.tag {
  height: 40px;
  text-align: center;
  padding-top: 9px;
} 

.tag-1 { background-color: #CC0000; }
.tag-2 { background-color: #FF0000; }
.tag-3 { background-color: #FF3300; }
.tag-4 { background-color: #FF6600; }
.tag-5 { background-color: #FF9900; }

/* notification */

.common-list {
  .notify {
    margin-top: 12px;
  }
}


/* top */

.top-number {
  margin-top: 10px;
  margin-left: 8px;
  display: block;
  .top-first {
    color: #FF9900;
  }
  .top-second {
    color: #FFCC00;
  }
  .top-third {
    color: #FFFF00;
  }
}

.top-color {
  color: $ftg-red;
}
