/* universal */

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$gray-light: #777777;
$gray: #666666;
$gray-darker: #222222;
$gray-lighter: #EEEEEE;
$logo-color: #CC0000;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

html {
  position: relative;
  min-height: 100%;
  font-family:Helvetica,Tahoma,Arial,STXihei,"华文细黑","MicrosoftYaHei","微软雅黑",SimSun,"宋体",Heiti,"黑体",sans-serif;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

i {
  padding-right: 6px;
}

.alert .close {
  margin-top: -2px;
}

.menu {
  font-weight: bold;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.6em;
  color: $gray-light;
  letter-spacing: -1px;
  padding-top: 5px;
  font-weight: bold;
  &:hover {
    color: $gray-light;
    text-decoration: none;
  }
}

#logo-icon {
  float: left;
  margin-right: 10px;
  font-size: 1.6em;
  color: $logo-color;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: $gray-light;
    text-decoration: none;
  }
}

#logo-icon-2 {
  float: left;
  margin-top: 6px;
  margin-right: 10px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* Users sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

.show-follow {
  margin-bottom: 20px;
}



/* Users index */

.users {
  list-style: none;
  margin: 0;
  .fa {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


/* fightposts */

.media-list {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
  }
  .social-action {
    ul {
      padding-left: 60px;
      li {
        padding: 10px 6px;
        border-top: 0px solid #e8e8e8;
        i {
          padding-right: 4px;
        }
      }
    }
  }
}

#like_form {
  button {
      border: 0px
  }
  button:focus,
  button:active,
  button:visited {
     border: none; outline:none;
  }
  .heart-active {
    color: $gray-light;
  }
}


aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* home */

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

/* homepro */

.home {
  text-align: center;

  .slogan{
    margin-bottom: 40px;
    h1 {
      margin-bottom: 30px;
      font-size: 46px;
      color: #000000;
    }
  }
  .logo {
    margin-bottom: 60px;
    color: $logo-color;
  }
  .photo {
    margin-bottom: 3px;
  }
  li {
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -4px;
    margin-top: -4px;
    img {
      padding: 28px;
    }
  }
  blockquote {
    width: 404px;
    text-align: left;
  }
}


/* Log in */

.login {
  .weixin {
    margin-top: 23px;
    margin-left: 40px;
  }
}









/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}